<li class="list-group-item">
  <form class="row" name="addTaskForm" novalidate ng-submit="saveTask()">
    <div class="col-md-2">
      <div class="pop-error alert-danger" ng-show="addTaskForm.limitTime.$error.validTime || addTaskForm.limitTime.$error.pattern ">
        <span ng-show="addTaskForm.limitTime.$error.validTime">时间必须大于今天</span>
        <span ng-show="addTaskForm.limitTime.$error.pattern">时间格式不对</span>
      </div>
      <input ng-model="newTask.limitTime" placeholder="年-月-日" required type="text" ng-pattern="/^\d{4}\-([1-9]|[0][1-9]|[1][0-2])\-([1-9]|[0][1-9]|[1-2][0-9]|[3][0-1])$/" class="form-control" name="limitTime"/>
    </div>
    <div class="col-md-4 text-center">
      <input ng-model="newTask.content" placeholder="任务内容" required name="content" class="form-control" type="text"/>
    </div>
    <div class="col-md-4 text-center">
      <input ng-model="newTask.punishment" placeholder="你要如何惩罚" required name="punishment" class="form-control" type="text"/>
    </div>
    <div class="col-md-2 saveTask">
      <button type="submit" class="btn btn-primary" ng-disabled="addTaskForm.$invalid">保存</button>
      <button ng-click="quitAdd()" class="btn-warning">取消</button>
    </div>
  </form>
</li>

